<div class="container">

<h1>Current Board Listing</h1>

<ul>


    {{#each data}}

        <li class ="col s6">
            <h3><a href="/snowboard/{{this.id}}">{{this.make}}: {{this.model}}</a></h3>
        </li>
        <hr>
    {{/each}}

</ul>

<!-- <a href="/new"> Add New</a> -->
<a href="/new" class="waves-effect waves-light btn-large"> Add New!</a>
</div>
