<h1>Add New Board </h1>

<div class="row">
    <form class="col s12" action="/new" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Make" id="make" type="text" class="validate" name="make">

        </div>
        <div class="input-field col s6">
          <input placeholder="Model"  id="Model" type="text" class="validate" name="model">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <input placeholder="size" id="size" type="integer" class="validate" name="size">
        </div>
        <div class="input-field col s4">
          <input placeholder="price" id="price" type="integer" class="validate" name="price">
        </div>
        <div class="input-field col s4">
          <input placeholder="flex" id="flex" type="integer" class="validate" name="flex">
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="post">Submit
          <i class="material-icons right">send</i></button>
    </form>
  </div>

    </button>
